#home {
  background-size: cover;
  -webkit-background-size: cover !important;
  text-align: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-color: #161415;
  background-position: center top;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  position: relative;
  .scrollDownBtn {
    position: absolute;
    font-size: 42px;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    color: #fff;
    &:focus {
      outline: none;
      box-shadow: none;
    }
    &:hover {
      color: #11abb0;
    }
  }
}
#home .banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  .title {
    font-size: 90px;
    color: #fff;
    letter-spacing: -2px;
    margin: 0 auto 18px auto;
    text-shadow: 0px 1px 3px rgb(0, 0, 0 / 80%);
    font-weight: bold;
    @include lg-screen {
      font-size: 78px;
      letter-spacing: -1px;
      margin-bottom: 12px;
    }
    @include md-screen {
      font-size: 68px;
      letter-spacing: -1px;
      line-height: 75px;
    }
    @include sm-screen {
      font-size: 68px;
    }
  }
  .description {
    font-size: 18px;
    color: #a8a8a8;
    margin: 0;
    text-shadow: 0px 1px 2px rgb(0, 0, 0 / 50%);
  }
  .socialBox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    a.link {
      color: #fff;
      margin: 0 15px;
      font-size: 30px;
      transition: 0.2s all ease-in;
      &:hover {
        color: #11abb0;
      }
    }
  }
}
