#resume {
  background: $bg-color-darken;
  padding-top: 90px;
  padding-bottom: 72px;
  overflow: hidden;
  color: $text-color-0;
  h1 {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 30px;
    @include sm-screen {
      text-align: center;
    }
    span {
      padding-bottom: 4px;
      border-bottom: 3px solid $hover-color-1;
    }
  }

  .row {
    @include row;
  }
  .education,
  .work {
    margin-bottom: 48px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e8e8e8;
  }
  .skills .bars {
    width: 90%;
    text-align: left;
    padding: 0;
    padding-top: 25px;
    margin-top: 50px;
    max-width: 650px;
    max-height: 600px;
    overflow-y: scroll;
    @include sm-screen {
      width: 100%;
      max-height: 400px;
    }
    li {
      list-style: none;
      background: #313131;
      height: 42px;
      position: relative;
      margin-bottom: 60px;
      margin-right: 20px;
      p {
        position: absolute;
        top: -30px;
        left: 0;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        color: $text-color-2;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 0;
      }
      span {
        background: #7d7b7b;
        height: 42px;
        line-height: 42px;
        display: inline-block;
      }
    }
  }
  .rowItem {
    width: 100%;
    padding: 0 20px;
    h3 {
      font-weight: bold;
    }
    p {
      font-size: 18px;
      font-style: italic;
      color: $text-color-4;
      margin: 9px 0 18px 0;
      span {
        font-style: normal;
      }
    }
  }
}
